.App{
  margin: auto;
  width: 50%;
}

.container{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 70%;
  height: 600px;
  border: 3px solid;
  border-radius: 2px;
  padding: 10px;
  position: relative;
}

h1{
  text-align: center;
}

.button1{
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid;
  font-weight: bolder;
}

.button2{
  margin: 10px;
  width: 200px;
  height: 40px;
  border-radius: 2px;
  font-size: large;
  border: 3px solid;
  font-weight: bolder;
  position: absolute;   
  bottom: 20px;       
  left: 50%;           
  transform: translateX(-50%); 
}