.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.container{
  align-items: center;
  text-align: center;
  margin: auto;
  width: 70%;
  height: 600px;
  border: 3px solid;
  border-radius: 2px;
  padding: 10px;
  flex-grow: 1; /* Allow this container to grow */
  overflow-y: auto;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
}

.TasksList input[type="checkbox"] {
  margin-right: 10px;
}

h1{
  text-align: center;
}

.button1{
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid;
  font-weight: bolder;
  cursor: pointer;
}

.button2{
  margin: 10px auto; /* 'auto' will center the block-level element horizontally */
  width: 200px;
  height: 40px;
  border-radius: 2px;
  font-size: large;
  border: 3px solid;
  font-weight: bolder;
  cursor: pointer;
  display: block; /* ensures the button is a block-level element */
}

.TasksList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  border-radius: 2px;
  font-size: large;
  border: 1px solid;
  padding: 10px;
}

.TasksList .text {
  flex-grow: 1; /* Allow text to expand and fill the available space */
  margin-right: 10px; /* Create a fixed space between checkbox and text */
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push icons to the right */
}

.icons i {
  margin-left: 10px;
  cursor: pointer;
}

.icons i:hover {
  color: red; /* Change the color on hover or customize as needed */
}